*{ /*for all html elements*/
    
  /*  border-style: solid;
    border-color: blue; */
    margin: 0;
    padding: 0;
    font-family:  'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    /*border-style:solid;
    border-color: red; */
    background: #080808;/*background-color*/
    color: #fff;/*text-color*/
}
#header{
   /* border-style: solid;
    border-color: red; */
    width:100%;
    height: 100vh;
    background-image: url("images/main111.png"); /*images/backimg.png*/
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.m1{
    margin-left: 0;
}
.m2{
    margin-left: 0;
}
nav{
    display: flex;    /*image & links will be side-by-side*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 190px;
    cursor: pointer;

}
nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;

}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#05e471;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:1s;

}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 32px;
    margin-top: 20px;
}
.header-text p{
    font-size:32px;
}
.header-text p span0{
    color:#05e471;
}
.header-text h1 span1{
    color:#fff;
    font-size: 35px;
}
.header-text h1 span2{
    color:#05e471;   /* #29a734f1  */
    font-size:35px;
}
nav .fa-solid{
    display:none;
}
/*--------------------------------------------------about-styling-----------------------------------------*/
#about
{
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left:25px;
    padding-right: 25px;
    
}
 .about-container{
   /* border-style: solid;
    border-color: rebeccapurple; */
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 40px 80px; 

    color:#fff;
    background-color: gray;
    border-radius: 10%;
    
    
    
}
.row{
    margin-top: 30px;
    display: flex;  /*for side by side*/
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;/*50px*/
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;/*round corner of image*/
    min-height: 60vh;

}
.m3{
    margin-top: 10px;
    margin-left:48px;
}
.about-col-2{
    
    flex-basis: 60%;/*there is 5% space between 1&2column 60+35=95*/
}
.about-col-2 h1{
    color:black;
}
.sub-title{
    font-size:50px;
    /*font-style*/
    font-weight: 600;
    color:white;
}
.about-col-2 p{
    font-size:20px;
    font-family: cursive;
    
}
.about-col-2 p span{
    
    font-style: italic;
    color:black;
    font-weight: bold;

}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-titles p{
    font-size: 24px;
    color: black;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content: '';
    width:0;
    height:3px;
    background:#fff;
    position: absolute;
    left:0;
    bottom: -8px;
    transition:1s;
}
.tab-links.active-link::after{
    width:100%;
}
.tab-contents ul li{
    font-size:18px;
    list-style: none;
    margin:10px 0;
    font-style: italic;
    font-weight: 600;
}   
.tab-contents ul li span{ 
    color:   black;/* rgb(96, 96, 187);/*#48b6e9;*/
    font-size: 22px;
    font-style: italic;
}  
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}
/*--------------------------------------------Academics-styling---------------------------------------------*/

#academics {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.academics-container {
    padding:80px 90px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
    
}
.academics-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/*1fraction*/
    grid-gap:40px;
    margin-top:50px;
}
.academics-list div{
    background:#262626;
    padding:40px;
    font-size:13px;
    font-weight: 600;
    border-radius: 10px;/*border-radius*/
    transition:  1s, transform 0.5s;
}
.academics-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.academics-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.academics-list div a{
    text-decoration: none;
    color:rgb(96, 96, 187);
    font-size:20px;
    margin-top:20px;
    display:inline-block;
}
.academics-list div:hover{
    background: /*rgb(99, 221, 105);*/#05e471;
    transform:translateY(-10px);
    color:#080808;
}
/*-------------------------------------------------------Project-Styling---------------------------------------*/
#project{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#fff;

}
.project-container{
    
    padding-top:80px;
    padding-bottom: 80px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: gray;
    border-radius: 10%;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/*1fraction*/
    grid-gap:40px;
    margin-top:50px;
}
.p1{
    border-radius: 10px;
    position:relative;
    overflow:hidden;
}
.p1 img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 1s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#05e471);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size:14px;
    transition:height 1s;
}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color:#4f59bb;
    text-decoration:none;
    font-size:18px;
    line-height:60px;
    background:rgb(255, 255, 255);
    width:60px;
    height:60px;
    border-radius:50%;/* it will be a circle*/
    text-align: center;
}
.p1:hover img{
    transform:scale(1.1);

}
.p1:hover .layer{
    height:100%;
}

.m5{
    margin-left: 110px;
    margin-bottom: -55px;
}
/*------------------------------------------contact-styling---------------------------------------------*/

#contact
{
    background-color:#fff;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
#contact .row
{
    background-color:#262626;
    margin-top: 55px;
    margin-bottom: 55px;
    border-radius: 1%;
    margin-bottom: 10px;
    padding:35px 90px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left .sub-title{
    margin-top:15px;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
    color:#05e471; 
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top:30px;
}
.social-icons a {
    text-decoration:none;
    font-size: 30px;
    margin-right: 15px;
    color:#fff;
    display: inline-block;
    transition: transform 1s;
}
.social-icons a:hover{
    color:#05e471;
    transform:translateY(-5px);

}
.btn{
    display:inline-block;
    margin-top: 20px;
    width:fit-content;
    border:1px solid #05e471;
    padding:14px 40px;
    border-radius: 6px;
    text-decoration:none;
    color:#fff;
    transition: 1s;
}
.btn:hover{
    background:#05e471;
    color:#080808;
    font-weight: 600;
}
form .btn2{
    color:#080808;
    font-size:16px;
    font-weight: 600;
    margin-top: 20px;
    padding: 14px 40px;
    cursor: pointer;
}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border :0;
    outline:none;
    background:#fff;
    padding:15px;
    margin:15px 0;
    color:black;
    font-size:18px;
    border-radius: 6px;
}

.m4{

    margin-left:99px;
    margin-bottom: -4px;
}
/*---------------------------------------copywrite-styling---------------------------------*/
.copyright {
    width:100%;
    text-align: center;
    padding: 25px 0;
    background:#262626;
    border-radius: 80%;
    font-weight: 300;
    margin-top:20px;
    margin-bottom: 10px;
}
.copyright i 
{
    color:#05e471;
}
.fa
{
    color: red !important;
}
.p3 a
{
    text-align: center;
    width: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;

}

  #msg{
    color:#05e471;
    margin-top: 10px;
    display:block;

 }


             /*-----------------css for responsive looking---------------*/

@media(max-width:600px){/*the screen width will be min-width(zero) and maximum(max-width)*/
.header-text{
    margin-top: 40%; 
    margin-left:-25px;
    margin-bottom: 10px;
}
.container img{
   
  margin-left: -25px;
}
.m1{
    margin-left: -30px;
}
.m2{
    margin-left: -30px;
    margin-top: 210px;
}
    #header{
            background-image:url("images/phimg.png");/*images/phimg.png */
            right: -200px;       
    }
   
.header-text p{
    font-size: 20px;
    
}
.header-text h1{
    font-size:22px;
}
.header-text h1 span1{
    font-size:22px;
}
.header-text h1 span2{
    font-size:18px;
    display: block;
}
nav .fa-solid{
    display:block;
    font-size:25px;
}
nav ul{
    background:#ff004f;
    position:fixed;
    top:0;
    right:-200px;/*because width is 200*/
    width:200px;
    height:100vh;
    padding-top: 50px;
    z-index: 2;
    transition:right 1s;

}
nav ul li{
    display:block;
    margin: 25px;

}
nav ul .fa-solid{
    position:absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
  /*-------------------------------about responsive --------------------------*/
  #about
{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:25px;
    padding-right: 25px;
    
    
} 
  #about-container{
    /* border-style: solid;
     border-color: rebeccapurple; */
     padding: 20px 80px; 
     color:#fff;
     background-color: #262626;
     margin-top: 15px;
     margin-bottom: 25px;
     

     
 }
.sub-title{
    font-size:40px;
    
}
 .about-col-1, .about-col-2
{
    flex-basis: 100%;
    align-items: center;
  
}
.about-col-1{
    margin-left:0;

}
.m3{
    margin-left: 8px;
}
.about-col-2{
    font-size: 14px;
    margin-left: -12px;


}
.about-col-2 p {
      margin-left:-25px;
}

.tab-links{
    font: size 16px;
    margin-right:40px;
}
/*--------academics responsive-----*/
#academics {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.academics-container {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 1%;
    
}
/*--------project responsive-----*/
#project{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#fff;

}
.project-container{
    
    padding-top:60px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: gray;
    border-radius: 1%;
}

/*----------contact responsive---------*/
#contact
{
    background-color:#fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
#contact .row
{
    background-color:#262626;
    margin-top: 55px;
    margin-bottom: 55px;
    border-radius: 1%;
    
    padding-left: 25px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.m4{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: -15px;
}
 .m5{
    margin:auto;
    margin-bottom: -5px;
}
.contact-right .btn, .contact-left .btn
{
   margin-left: 5px;
}
/*--copyright styling*/
    
    
    .copyright {
    width:100%;
    text-align: center;
    padding: 25px 0;
    background:#262626;
    border-radius: 10%;
    font-weight: 300;
    margin-top:20px;
    margin-bottom: 10px;
}
}
